<div class="navigation">
  <div class="nav-logo-wrapper">
    <a href="/"><img class="nav-logo" src="/img/logoWhite.svg"></a>
  </div>
  <ul class="nav-links">
    <li><a href="/sc-admin/home">Dashboard</a></li>
    <li><a class="disabled" href="/sc-admin/workshop">Workshops</a></li>
  </ul>
</div>
