<div class="navigation">
  <div class="nav-logo-wrapper">
    <a href="/"><img class="nav-logo" src="/img/logoWhite.svg"></a>
  </div>
  <ul class="nav-links">
    <li><a href="/workshop">Workshops</a></li>
    <li><a href="/">Equipment</a></li>
  </ul>
</div>
