<div class="navigation">
  <div class="nav-logo-wrapper">
    <a href="/"><img class="nav-logo" src="/img/logoWhite.svg"></a>
  </div>
  <ul class="nav-links">
    <li><a href="/sc-admin/home">Dashboard</a></li>
    <li><a href="/sc-admin/workshop">Workshop</a></li>
    <li><a href="/sc-admin/users">Users</a></li>
    <li><a href="/sc-admin/competency">Competency</a></li>
    <li><a href="/sc-admin/logout">Logout</a></li>
  </ul>
</div>
