<div class="searchbar">
  <form action="./workshop.html">
    <button class="button-round search-submit" type="submit" value="Submit">
      <i class="fas fa-search"></i>      
    </button >
      <input class="input search-input" type="text" name="search" placeholder="Crafting, Sewing...">
    </form>
  </div>
