<!doctype html>
<% include ../partials/headAdmin %>
<body>
  <% include ../partials/navigationAdmin %>
  <% include ../partials/searchbar%>
  <form action="./adminWorkshop.html">
    <div class="wrapper cont-item">
      <div class="cont-item-wrapper">

        <div class="cont-left cont-opaque">
          <h class="item-desc-title">Description</h>
          <textarea class="input input-item input-desc" type="text" name="description"  onkeyup="auto_grow(this)"></textarea>
        </div>

        <div class="cont-right">
          <input class="item-row input-item" type="text" name="title" placeholder="Title">
          <input class="item-row input-item" type="text" name="location" placeholder="Location">
          <input class="item-row input-item" type="text" name="date" placeholder="date">
          <input class="item-row input-item" type="text" name="time" placeholder="time">
          <input class="item-row input-item" type="text" name="Level" placeholder="Level">
          <div class="cont-left">
            <div class="file-input-wrapper">
              <button class="btn-file-input upload-btn button btn-red">
                <i class="fas fa-upload"></i> Upload Image</button>
                <input type="file" name="file" />
              </div>
            </div>
            <div class="cont-right">
              <div class="create-btn button btn-red" data-popup-open="popup-1">Create Workshop</div>
            </div>
          </div>
        </div>
      </div>

      <div class="popup" data-popup="popup-1">
        <div class="popup-inner  popup-register">
          <h class="popup-text">Created</h>
          <p class="popup-smalltext">The workshop has been created. Browse workshops to edit the workshop.</p>
          <button class="popup-register-btn button btn-red"  type="submit" value="Submit">Confirm</button>
          <a class="popup-close" data-popup-close="popup-1" type="submit" value="Submit" href="#"><i class="fas fa-times"></i></a>
        </div>
      </div>
    </form>

    <script src="/js/modal.js"></script>
    <script src="/js/dynamicTextbox.js"></script>

  </body>
  </html>
