<!doctype html>
<% include ../partials/headAdmin %>
<body>
  <div class="wrapper cont-index">
    <div class="cont-index-inner">
      <div class="row row-logo">
        <img class="index-title-logo" src="/img/logoWhite.svg">
      </div>
      <div class="row row-subtitle">
        <h class="index-subtitle">Admin Portal</h>
      </div>
      <div class="row admin-link-wrapper">
        <form action="./sc-admin/login" method="POST">
          <input class="input admin-username" type="text" name="email" placeholder="E-mail address">
          <input class="input admin-password" type="password" name="password" placeholder="Password">
          <button class="button admin-login btn-red" type="submit" value="Submit">Login</button>
      </form>
      </div>
    </div>
  </div>
  <script src="/js/modal.js"></script>
</body>
</html>
