<!doctype html>
<% include ../partials/head %>
<body>
  <% include ../partials/navigationAdmin %>
  <% include ../partials/searchbar %>
  <% include ../partials/banner %>

  <div class="wrapper cont-workshop">
    <div class="row row-btn">
      <a class="button-round btn-add-workshop btn-red" href="./create-workshop"><i class="fas fa-plus"></i></a>
    </div>
    <ul class="workshop-list-wrapper"></ul>
  </div>

  <script src="/js/modal.js"></script>
  <script src="/js/workshops.js"></script>

</body>
</html>
