<!doctype html>
<% include ../partials/head %>
<body>
  <div class="wrapper cont-index">
    <div class="cont-index-inner">
      <div class="row row-logo">
        <img class="index-title-logo" src="/img/logoWhite.svg">
      </div>
      <div class="row row-subtitle">
        <h class="index-subtitle">Learn something amazing everyday</h>
      </div>
      <div class="row index-link-wrapper">
        <div class="col index-link-item">
          <div class="button-fat btn-white"  data-popup-open="popup-1">Check in/out</div>
        </div>
        <div class="col index-link-item">
          <a href="/workshop"><div class="button-fat btn-white">Workshop</div></a>
        </div>
        <div class="col index-link-item">
          <div class="button-fat btn-white"  data-popup-open="popup-1">Book equipment</div>
        </div>
      </div>
    </div>

    <div class="popup" data-popup="popup-1">
      <div class="popup-inner popup-webcam">
        <h class="popup-text">Scanning in progress</h>
        <p class="popup-smalltext">Place your QR code in front of the camera.</p>
        <video id="qrVideo" class="qrVideo"></video>
        <a class="popup-close" data-popup-close="popup-1" href="#"><i class="fas fa-times"></i></a>
      </div>
    </div>

  </div>
  <script src="/js/modal.js"></script>
  <script src="/js/qrScanner.js"></script>
  <script type="text/javascript" src="/js/instascan.min.js"></script>
</body>
</html>
