<!doctype html>
<% include ../partials/headAdmin %>
<body>
  <% include ../partials/navigation%>
  <% include ../partials/searchbar%>
  <% include ../partials/banner%>

  <div class="wrapper cont-workshop">
    <ul class="workshop-list-wrapper"></ul>
  </div>

  <script src="js/modal.js"></script>
  <script src="js/workshops.js"></script>

</body>
</html>
