.cont-add-wrapper{
  max-width:300px;
  margin: 0 auto;
  padding-top: 100px;
}

.input-title{
  max-width: 300px;
  width: 100%;
}

.input-item{
  width: 100%;
}

/*
.item-row{
  height:60px;
  border-radius: 5px;
  width:100%;
  margin-bottom:20px;
  background-color:white;
  font-size:14px;
  padding: 25px 20px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
} */

.file-input-wrapper {
  overflow: hidden;
  position: relative;
}
.file-input-wrapper > input[type="file"] {
  font-size: 200px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.file-input-wrapper:hover > .btn-file-input {
    background-color: #ff848a;
}
.file-upload [type=file] {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}


.create-btn, .upload-btn{
  margin-top: 10px;
  padding-top:14px;
}
