.dashboard-list-wrapper{
}

.dashboard-list-wrapper li{
  display: inline-block;
}

.dashboard-item{
  display:block;
  background-color: white;
  width:100%;
  margin-bottom:1px;
  padding: 18px 10px;
  color:#191919;
  font-size: 13px;
  border: 1px solid #efefef;
  border-radius: 2px;
}

.dashboard-title{
  background-color: #ff5a62;
  color:white;
  font-weight: 700;
}

.dashboard-message{
  text-align: center;
  font-size: 18px;
  margin: 20px;
font-weight:700;
}

.col{
  width:calc(100% / 4);
}

.name{
  font-weight: 700;
}

.qualitifications{
  width:calc(100% / 2);
}

.qualitifications li{
  display: inline-block;
  border: 1px solid #ff848a;
  border-radius: 18px;
  height:36px;
  padding: 10px;
  margin-bottom: 4px;
  margin: 0 2px 4px;
}
