.item-profile:hover{
  background-color: #f8f8f8;
}


.cont-center-profile{
  max-width:600px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
}

.profile-image-wrapper{
  position: relative;
  width: 50%;
  padding-bottom: 25%;
  float: left;
  height: 0;
  margin-bottom:50px;
  border-radius: 5px;
}

.qr-image-wrapper{
  position: relative;
  width: 50%;
  padding-bottom: 25%;
  float: right;
  height: 0;
  margin-bottom:50px;
  border-radius: 5px;
}

#profile-image{
  object-fit: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  border-radius: 5px;

}

#qr-image{
  object-fit: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  border-radius: 5px;

}

.cont-opaque-qualifications{
  margin-bottom:20px;
  background-color:white;
  padding:20px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);

}
